@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}
html[data-theme] {
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --depth: 0;
}

html,
body {
  font-family: "Tomorrow", sans-serif;
  transition-property: color, background-color, border-color, box-shadow, opacity, scale, radius, rotate;
  transition-duration: 0.1s;
  transition-timing-function: linear;
  scroll-behavior: smooth;
}



