@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}
html[data-theme] {
  --radius-selector: 0.5rem;
  --radius-field: 1rem;
  --radius-box: 0.5rem;
  --depth: 0;
}

html,
body {
  font-family: "Tomorrow", sans-serif;
  transition-property: color, background-color, border-color, box-shadow,
    opacity, scale, radius, rotate;
  transition-duration: 0.1s;
  transition-timing-function: linear;
  scroll-behavior: smooth;
}



div#root {
  --s: 222px; /* control the size*/
  --c1: var(--color-base-100);
  --c2: var(--color-base-200);
  --c3: var(--color-base-300);
  
  --_g: var(--c1) 10%,var(--c2) 10.5% 19%,#0000 19.5% 80.5%,var(--c2) 81% 89.5%,var(--c3) 90%;
  --_c: from -90deg at 37.5% 50%,#0000 75%;
  --_l1: linear-gradient(145deg,var(--_g));
  --_l2: linear-gradient( 35deg,var(--_g));
  background: 
    var(--_l1), var(--_l1) calc(var(--s)/2) var(--s),
    var(--_l2), var(--_l2) calc(var(--s)/2) var(--s),
    conic-gradient(var(--_c),var(--c1) 0) calc(var(--s)/8) 0,
    conic-gradient(var(--_c),var(--c3) 0) calc(var(--s)/2) 0,
    linear-gradient(90deg,var(--c3) 38%,var(--c1) 0 50%,var(--c3) 0 62%,var(--c1) 0);
  background-size: var(--s) calc(2*var(--s)/3);
}